.Profile {
  text-align: center;
  margin: 5%;
  border-radius: 15px;
  background-color: rgba(8, 72, 168, 0.658);
  color: white;
  height: fit-content;
  display: flexbox;
  flex-direction: column;
}

.SettingsButton {
  margin-top:5%;
  margin-bottom:5%;
  font-size:12pt;
  text-align: center;
  background-color: rgba(8, 72, 168, 0.658);
  color: white;
  border-style: none;
  border-radius: 8px;
  width: 90%;
}
.UserLogo {
  margin-top:10%;
  height: 50%;
  width: 50%;
}

.LabelMarg{
  margin-top:15%;
  margin-bottom:5%;
}

.ProfLabel{
  font-size:20pt;
  font-weight: 500;
  margin-bottom:100px;
  color: white;
}

.NameLabel{
  font-size:20pt;
  font-weight: 500;
  color:black;
  border-bottom:solid;
  border-color:rgb(182, 195, 215);
}

@media screen and (max-width: 601px) {
  .NameLabel {
    font-size: 12pt;
  }

  .ProfLabel{
    font-size:12pt;
  }
}

@media screen and (max-width: 401px) {
  .NameLabel {
    font-size: 9pt;
  }

  .ProfLabel{
    font-size: 9pt;
  }
}